*{
  margin: 0;
  padding: 0;
}
#heading{text-align: center;}
#container{
  height: 600px;
  width: 600px;
  border: 3px solid black;
  padding: 10px;
  margin: 20px;
  background-color: lavender;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  

}
.box{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: 5px;
}
#box1{background-color: aqua;}
#box2{background-color: yellow;}
#box3{background-color: tomato;}
#box4{background-color: blue;}
#box5{background-color: springgreen;}
#box6{background-color: lightseagreen;}
#box7{background-color: brown;}