* {
  margin: 0;
  padding: 0;
}
#heading {
  text-align: center;
}
#container {
  height: 600px;
  width: 600px;
  border: 3px solid black;
  padding: 10px;
  margin: 20px;
  background-color: lavender;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  margin: 5px;
}
#box1 {
  background-color: green;
}
#box2 {
  background-color: aqua;
  flex-shrink: 4;
}
#box3 {
  background-color: brown;
}
#box4 {
  background-color: yellow;
}
